# IvoryPay (Phase 1 — active)
IVORYPAY_SECRET_KEY=sk_test_your_key_here
IVORYPAY_ENV=test

# Breet (Phase 1.5 — waiting)
BREET_APP_ID=waiting_for_sandbox
BREET_APP_SECRET=waiting_for_sandbox
BREET_ENV=development
pk_qBMTkMFIbyYgHTDvIMVCTlABn37cG8V3LJWoNEUIOepy3CfjrtPTMnAwd8j7Z8Xb